.signup {
	.MuiGrid-container {
		.MuiGrid-item {
			height: 100vh;
			&:first-child {
				padding: 120px;
			}
			&:last-child {
				& > div {
					text-align: left;
					.heading {
						margin-bottom: 60px;
					}
					form {
						width: 100%;
						.MuiTextField-root{
              width: 100%;
              margin-bottom: 16px;
            }
            .MuiButton-root {
              width: 100%;
              margin-bottom: 60px;
						}
						.form-action {
							display: flex;
              justify-content: space-between;
              margin-bottom: 16px;
              .forgot-pass{
                padding: 9px 0;
                cursor: pointer;
              }
						}
					}
				}
			}
		}
	}
}
